<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>
<p>For any enquiries or suggestions towards the website of Jackmart, please feel free to email us at <a href="jackmartrails@googlemail.com">jackmartrails@googlemail.com</a></p>