<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>If you are having problems with this app get in touch with the help desk via email. The address to contact us is helpdesk@exampleemail.com</p>
<p>
Receive information about this app by visiting the <a href="https://github.com/kyussj/jackmart">github repository</a>
to find a readme file which highlight any recent changes to the application.
</p>
