<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>If you are having problems with this app get in touch with the help desk via email. The address to contact us is <a href="jackmartrails@googlemail.com">jackmartrails@googlemail.com</a></p>
<p>
Receive information about this app by visiting the <a href="https://github.com/kyussj/jackmart">github repository</a>
to find a readme file which highlight any recent changes to the application.
</p>

<h2>Suggestions</h2>

<p>This app tries to cater to all the needs to the users but if you have any suggestions or anything that would help improve your experience with this app please do not hesistate to get into contact:<p>

<p><center><a href="jackmartrails@googlemail.com">jackmartrails@googlemail.com</a></p></center>
