<div class="center hero-unit">
<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Home</h1>
    <p>
      This is the home page for the Jackmart application.
    </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://www.abdn.ac.uk/structure-images/logo.gif", alt: "University of Aberdeen"), 'http://www.abdn.ac.uk/index.php' %>

<div class='twshare left'> 
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
  </div>



