<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Jackmart.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Jackmart.com,
      your username is: <%= @user %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
	<p>Jackmart is a website designed to allow for users to share their thoughts and idea's within a blog to share with others around the world</p>
	<p>We aim to bring total user satisfaction, if you have any problems do not hesistate to respond to this email<p>
    <p>Thanks for joining and have a great day!</p>
	<p>Regards,</p>
	
	<p>Jack<p>
  </body>
</html>