<footer class="footer">
  <small>
<fb:like href="http://jackmart.com" layout="standard" show_faces="true" width="20" action="like" font="segoe ui" colorscheme="light" />
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path  %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/kyussj/Jackmart">News</a></li>
    </ul>
  </nav>
</footer>