<footer class="footer">
  <small>
    <a href="https://github.com/kyussj/Jackmart">Jackmart</a>
    by Jack Booth
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path  %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/kyussj/Jackmart">News</a></li>
    </ul>
  </nav>
</footer>